<h2>Chat bot 超Beta Version 0.0.3</h2>
<br/>

<div class="chat">
  <p class="them">
    OK we will begin to chat
  </p>

  <p class="me">
    Roger
  </p>

  <p class="them">
   So I am User
  </p>

  <p class="me">
   And I am bot
  </p>

  <p class="them">
   Let's start!
  </p>

  <p class="me">
    OK!
  </p>

</div>
<h2></h2>
<div id="chat_textarea">
  <div id="chat-form">
    <textarea id="chat-textarea"></textarea>
    <div id="chat-send-button">送信</div>
  </div>
</div>

