<h2>Chat bot 超Beta Version 0.0.3</h2>
<br/>

<div class="chat">
  <p class="them">
    OK we will begin to chat
  </p>

  <p class="me">
    Roger
  </p>

  <p class="them">
   So I am User
  </p>

  <p class="me">
   And I am bot
  </p>

  <p class="them">
   Let's start!
  </p>

  <p class="me">
    OK!
  </p>

</div>


<h2></h2>
<div class="container">
  <form id="send_message" action="#" >
    <input type="hidden" id="user_id" value="<%= user_id %>">
    <div id="chat_textarea">
      <div id="chat-form">
        <label for="chat-textarea">Write something</label><br>
        <textarea id="chat-textarea"></textarea><br>
        <input class="btn btn-default" type="submit" id="chat-send-button"><br>
        <button type="button" id="reset_progress" class="btn btn-default">Reset Progress</button>
        <label for="activate-feedback-component">Feedback status</label>
        <input type="checkbox" id="activate-feedback-component">
      </div>
    </div>
  </form>
</div>

<div class="container">

  <h2> Add new log</h2>

  <form id="add_log" action="/Chat/AddLog" method="post">
    <div class="form-group">
      <label for="question">Question</label>
      <input type="text" class="form-control" id="question">
    </div>
    <div class="form-group">
      <label for="answer">Answer</label>
      <input type="text" class="form-control" id="answer">
    </div>
    <div class="form-group">
      <label for="component">Component</label>
      <select class="form-control" id="component">
      </select>
    </div>
    <button type="submit" id="submit" class="btn btn-primary">Submit</button>
    <button type="reset" id="reset" class="btn btn-default">Reset</button>
  </form>

</div>


