<div class="container">

  <h2>Chat bot Hikari-Chan Version 0.0.13</h2>
  <br/>
</div>

<div class="container">

  <div class="chat">
  <div class="alert alert-success text-right">
    OK we will begin to chat
  </div>

  <div class="alert alert-warning">
    Roger
  </div>

  <div class="alert alert-success text-right">
    So I am User
  </div>

  <div class="alert alert-warning">
    And I am bot
  </div>

  <div class="alert alert-success text-right">
    Let's start!
  </div>

  <div class="alert alert-warning">
    OK!
  </div>
</div>

  <form class="form-control" id="send_message" action="#" >
    <input type="hidden" id="user_id" value="<%= user_id %>">

    <div id="chat_textarea">

      <div id="chat-form">

        <div class="form-group">
        <label for="activate-feedback-component">Feedback status (normally, do not check)</label>
        <input class="form-control" name="feedback_switch" type="checkbox" id="activate-feedback-component" value=1 >
        </div>

        <div class="form-group">
          <label for="activate-feedback-component">Feedback Mode</label>
          <input class="form-control" id="feedback_mode" name="feedback_mode" type="checkbox" checked value=1 >
        </div>

        <div class="form-group">
        <label for="threshold">Threshold (default is 55) </label>
        <input value="55" id="threshold" type="number" class="form-control">
        </div>

        <div class="form-group">
        <label for="chat-textarea">Write something</label><br>
        <textarea class="form-control" id="chat-textarea"></textarea><br>
        </div>

        <div class="form-group">
        <input class="btn btn-primary" type="submit" id="chat-send-button"><br>
        </div>

      </div>

    </div>

  </form>



</div>

<br><br>
<hr>

<div class="container">

  <h2>Debug Console</h2>

  <hr>

  <h4>Current Top label</h4>

  <span class="bg-inverse text-white" id="top_label_id"></span>
  <span class="bg-inverse text-white" id="top_label_name"></span>

  <hr>

  <h4>Calculate Table</h4>

  <table class="table">
    <thead>
    <tr>
      <th>#</th>
      <th>Spot Id</th>
      <th>Spot Name</th>
      <th>User Vector</th>
      <th>Spot Vector</th>
      <th>Cosine Degree</th>
    </tr>
    </thead>
    <tbody id="debug_log">

    </tbody>
  </table>

</div>


