<!DOCTYPE html>
<html lang="en">
<head>
  <title>Chat-bot Application Project</title>
  <meta charset="utf-8"/>
  <link rel="stylesheet" type="text/css" href="/manual/styles/home.css"/>
  <link rel="stylesheet" type="text/css" href="/manual/styles/chat.css"/>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=latin,latin-ext' rel='stylesheet' type='text/css'/>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  <script type="text/javascript" src="/manual/js/chatui.js"></script>
</head>
<body>
<div id="top"></div>

<!-- Nav Menu Start-->
<nav id="menu">
  <ul>
    <li><span class="brand"><a href="">Chat-bot Application Project</a></span></li>
    <li><a href="/Spot/Home" class="tooltip-bottom" data-hint="Home">Home</a></li>
    <li><a href="/User/Register" class="tooltip-bottom" data-hint="Add Spot">Register</a></li>
    <li><a href="#" class="tooltip-bottom" data-hint="Register">About</a></li>
    <li><a href="/User/Login" class="tooltip-bottom" data-hint="Contact">Login</a></li>
    <li><a href="#" class="tooltip-bottom" data-hint="Contact">Contact</a></li>
    <div class="flip">
      <li class="search"><a href=""><i class="fa fa-search"></i></a></li>
    </div>
  </ul>
</nav>

<%- body %>

</body>
</html>
