<!-- Nav Menu End-->

<!-- Image Cover Start-->
<div class="slider">
  <div class="container">
    <img src="/images/shiga.jpg">
  </div>
</div>
<!-- Image Cover End-->

<!-- Posts Start-->
<div class="galery">

  <!-- Search Form -->
  <div class="container">
    <div class="form-group">
      <h2>Search Spot (presently can't use)</h2>
      <!--form -->
      <form id="search" action="/Spot/SearchResult" method="post">
        <label for="type">Type</label>
        <select name="type">
          <option name="exploration" value="0">Exploration</option>
          <option name="walking_travel" value="1">Walking-Travel</option>
        </select>
        <label for="category">Category</label>
        <select name="category">
          <option name="recreational" value="0">Recreational</option>
          <option name="national" value="1">National</option>
        </select>
        <label for="good_for">Good For</label>
        <select name="good_for">
          <option name="family" value="0">Family</option>
          <option name="one_man" value="1">One-Man</option>
          <option name="couple" value="2">Couple</option>
        </select>
        <input type="submit">
      </form>
      <!-- end form -->
    </div>
  </div>
  <!-- Search Form End -->
  <h4>Search result</h4>
    <div id="result">result</div><!--  search result -->
  <h4>Number of result</h4>
    <div id="count">count</div><!-- number of search result -->

  <br>

  <!-- user feedback's preference experiment -->
  <h2>Experiment</h2><br>

  <form id="experiment" action="/Experiment/Preference" method="post">

    <label for="preference">User's preference</label><br>

    <% for (var i = 0; i < 10; i++) { %>

      <input type="number" id="preference<%= i %>" />

    <% } %>

    <input type="hidden" id="preference_number" value="<%= i %>">
    <br>

    <label for="feedback">Feedback</label>
    <select id="feedback">
      <option name="positive" value="0">TURE</option>
      <option name="negative" value="1">FALSE</option>
    </select><br>

    <input type="submit">
    <input type="reset">
    <input type="button" id="auto_fill" value="Auto Fill">



  </form>

  <!----------------------------------- -->
</div>

<!-- main topic -->
<div class="galery">
  <div class="container">
    <div class="author"><span>Author:Varit</span></div>
    <div class="date"><span>Saturday, July 26, 2014</span></div>

    <div class="thumb">
      <a href="">
        <div class="overlay"></div>
        <img src="/images/enryaku.jpg"/>
      </a>
    </div>

    <div class="snippet">
      <a href="/Spot/ShowSpot?spot=enryaku_temple"><h3>Enryaku_temple</h3></a>
      <p>
        Enryaku-ji (延暦寺 Enryaku-ji?) is a Tendai monastery located on Mount Hiei in Ōtsu, overlooking Kyoto. It was founded during the early Heian period.[1] The temple complex was established by Saichō (767–822)
      </p>
      <p><i class="icon-ellipsis"></i></p>
      <hr class="dotted"/>
      <p><a href="" class="tooltip-right" data-hint="Read More">Read More</a></p>
      <div class="tag-line">
        <i class="fa fa-tag"></i>
        <span class="meta"> Tags:</span>
        <span class="tags"><a href="">Japan</a>
          <a href="">Lorem ipsum</a><a href="">Lorem ipsum</a>
        </span>
      </div>
    </div>
    <div class="actions">
      <ul>
        <li><i class="fa fa-comment"></i><a href="" class="tooltip-left" data-hint="Comments"> Comments</a></li>
      </ul>
      <ul class="flip">
        <li class="nav-meta">Share:</li>
        <li><a href="" class="tooltip-top" data-hint="Like"><i class="fa fa-facebook"></i> Like</a></li>
        <li><a href="" class="tooltip-top" data-hint="Tweet"><i class="fa fa-twitter"></i> Tweet</a></li>
      </ul>
    </div>
  </div>
</div>


<div class="galery">
  <div class="container">
    <div class="author"><span>Author: Yamada</span></div>
    <div class="date"><span>Saturday, July 01, 2016</span></div>

    <div class="thumb">
      <a href="/Spot/ShowSpot?spot=omi_shrine">
        <div class="overlay"></div>
        <img src="/images/oumi.jpg"/>
      </a>
    </div>

    <div class="snippet">
      <a href="/Spot/ShowSpot?spot=omi_shrine"><h3>Omi Shrine</h3></a>
      <p>
        Omi Jingu (近江神宮 Ōmi Jingū?) or Omi Shrine is a Jingū shinto shrine in Ōtsu.
      </p>
      <p><i class="icon-ellipsis"></i></p>
      <hr class="dotted"/>
      <p><a href="" class="tooltip-right" data-hint="Read More">Read More</a></p>
      <div class="tag-line"><i class="fa fa-tag"></i><span class="meta"> Tags:</span><span class="tags"><a href="">Lorem ipsum</a><a href="">Lorem ipsum</a><a href="">Lorem ipsum</a></span></div>
    </div>
    <div class="actions">
      <ul>
        <li><i class="fa fa-comment"></i><a href="" class="tooltip-left" data-hint="Comments"> Comments</a></li>
      </ul>
      <ul class="flip">
        <li class="nav-meta">Share:</li>
        <li><a href="" class="tooltip-top" data-hint="Like"><i class="fa fa-facebook"></i> Like</a></li>
        <li><a href="" class="tooltip-top" data-hint="Tweet"><i class="fa fa-twitter"></i> Tweet</a></li>
      </ul>
    </div>
  </div>
</div>


<div class="galery">
  <div class="container">
    <div class="author"><span>Author</span></div>
    <div class="date"><span>Saturday, July 26, 2014</span></div>

    <div class="thumb">
      <a href="">
        <div class="overlay"></div>
        <img src="/images/hikone.jpg"/>
      </a>
    </div>

    <div class="snippet">
      <a href="/Spot/ShowSpot?spot=hikone"><h3>Hikone Castle</h3></a>
      <p>
        Hikone Castle (彦根城 Hikone-jō?) is a Japanese Edo-period castle in the city of Hikone, in Shiga Prefecture.
      </p>
      <p><i class="icon-ellipsis"></i></p>
      <hr class="dotted"/>
      <p><a href="" class="tooltip-right" data-hint="Read More">Read More</a></p>
      <div class="tag-line"><i class="fa fa-tag"></i><span class="meta"> Tags:</span><span class="tags"><a href="">Lorem ipsum</a><a href="">Lorem ipsum</a><a href="">Lorem ipsum</a></span></div>
    </div>
    <div class="actions">
      <ul>
        <li><i class="fa fa-comment"></i><a href="" class="tooltip-left" data-hint="Comments"> Comments</a></li>
      </ul>
      <ul class="flip">
        <li class="nav-meta">Share:</li>
        <li><a href="" class="tooltip-top" data-hint="Like"><i class="fa fa-facebook"></i> Like</a></li>
        <li><a href="" class="tooltip-top" data-hint="Tweet"><i class="fa fa-twitter"></i> Tweet</a></li>
      </ul>
    </div>
  </div>
</div>


<div class="galery">
  <div class="container">
    <div class="author"><span>Author</span></div>
    <div class="date"><span>Saturday, July 26, 2014</span></div>

    <div class="thumb">
      <a href="">
        <div class="overlay"></div>
        <img src="/images/yamadera.jpg"/>
      </a>
    </div>

    <div class="snippet">
      <a href="/Spot/ShowSpot?spot=ishiyama_temple"><h3>Ishiyamadera Temple</h3></a>
      <p>
        Ishiyama-dera (石山寺?, literally "Stony Mountain Temple") is a Shingon temple in Ōtsu in Japan's Shiga Prefecture. This temple is the thirteenth of the Kansai Kannon Pilgrimage.
      </p>
      <p><i class="icon-ellipsis"></i></p>
      <hr class="dotted"/>
      <p><a href="" class="tooltip-right" data-hint="Read More">Read More</a></p>
      <div class="tag-line"><i class="fa fa-tag"></i><span class="meta"> Tags:</span><span class="tags"><a href="">Lorem ipsum</a><a href="">Lorem ipsum</a><a href="">Lorem ipsum</a></span></div>
    </div>
    <div class="actions">
      <ul>
        <li><i class="fa fa-comment"></i><a href="" class="tooltip-left" data-hint="Comments"> Comments</a></li>
      </ul>
      <ul class="flip">
        <li class="nav-meta">Share:</li>
        <li><a href="" class="tooltip-top" data-hint="Like"><i class="fa fa-facebook"></i> Like</a></li>
        <li><a href="" class="tooltip-top" data-hint="Tweet"><i class="fa fa-twitter"></i> Tweet</a></li>
      </ul>
    </div>
  </div>
</div>


<!-- Posts End -->

<!-- Bottom Navigation Start -->
<div class="navigation">
  <ul>
    <li class="left"><a href="" class="tooltip-left" data-hint="Next"><i class="fa fa-angle-double-left fa-2x"></i></a></li>
    <li class="right"><a href="" class="tooltip-right" data-hint="Previous"><i class="fa fa-angle-double-right fa-2x"></i></a></li>
  </ul>
</div>
<!-- Bottom Navigation Start -->


<!-- Scroll Top -->
<div class="scroll-top"><a href="#top" class="scroll tooltip-left" data-hint="Scroll to Top"><i class="fa fa-angle-up fa-2x"></i></a></div>

<footer>
  <script src="/js/form.js"></script>
  <script src="/js/auto_fill.js"></script>
</footer>

<!-- Scripts Início -->
<script type="text/javascript">
  //button animate script
  jQuery(document).ready(function($) {
    $(".scroll").click(function(event){
      event.preventDefault();
      $('html,body').animate({scrollTop:$(this.hash).offset().top}, 500);
    });
  });
</script>
<div class='follow-me'>
  <div id="live-chat">
    <header class="clearfix">
      <a href="#" class="chat-close">x</a>
      <h4>Test User</h4> <!-- name of chat box -->
      <span class="chat-message-counter" style="display: none;">3</span>
    </header>
    <div class="chat" style="display: block;">
      <div class="chat-history">
        <div class="chat-message clearfix">
          <!-- <img src="http://lorempixum.com/32/32/people" alt="" width="32" height="32"> -->
          <div class="chat-message-content clearfix">
            <span class="chat-time">13:35</span>
            <h5>John Doe</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, explicabo quasi ratione odio dolorum harum.</p>
          </div> <!-- end chat-message-content -->
        </div> <!-- end chat-message -->
        <hr>
      </div> <!-- end chat-history -->
      <form action="#" method="post">
        <fieldset>
          <input type="text" placeholder="Type your message…">
          <input type="hidden">
        </fieldset>
      </form>
    </div> <!-- end chat -->
  </div> <!--end # Livechat -->

</div><!--end .follow me -->
