<!-- Nav Menu End-->

<!-- Image Cover Start-->
<div class="slider">
  <div class="container">
    <img src="/images/shiga.jpg">
  </div>
</div>
<!-- Image Cover End-->

<!-- Column Left Start-->
<div class="col-left">
  <div class="container">

    <!-- About Author Start -->
    <div class="about-author">
      <div class="cover-author"></div>
      <div class="thumb-author"></div>
      <div class="history-author">
        <p><h2>My Profile:</h2></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean convallis leo ac ante tincidunt, nec sagittis neque vehicula. Morbi eu sodales lacus. Aliquam facilisis et dolor id tristique. Morbi aliquam facilisis ligula, vitae suscipit ligula malesuada ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id pharetra odio, at placerat nisl. Curabitur tempus condimentum mattis. Integer eget mi vel magna venenatis ultricies sit amet vel dui. Vestibulum turpis ante, volutpat a bibendum sed, consequat ac purus.</p>
      </div>
    </div>
    <!-- About Author End -->

    <!-- Email Feed Start -->
    <div class="email-feed">
      <div class="container">
        <p><h3><i class="fa fa-inbox"></i> Newsletter:</h3></p>
        <p>Enter your email to receive our updates:</p>
        <div class="form-feed">
          <div id="mc_embed_signup">
            <form action="#" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

              <div class="input-icon"><i class="fa fa-envelope-o uk-icon"></i><input type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="Your mail" required=""/></div>
              <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"/></div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Email Feed End -->
    <!-- Latest Posts Star-->
    <div class="latest-post">
      <div class="container">
        <p><h3>Latest posts:</h3></p>

        <div class="latest-post-content">

          <div class="latest-snippet">
            <p class="meta-date"><i class="fa fa-calendar"></i> Saturday, July 26, 2014</p>
            <a href=""><div class="latest-overlay"></div>
              <img src="/images/tokyo.jpg"></a>
            <a href=""><h4>Simple Design</h4></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean convallis leo ac ante tincidunt, nec sagittis neque vehicula. Morbi eu sodales lacus. Aliquam facilisis et dolor id tristique. Morbi aliquam facilisis ligula, vitae suscipit ligula malesuada ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id pharetra odio, at placerat nisl. Curabitur tempus condimentum mattis. Integer eget mi vel magna venenatis ultricies sit amet vel dui. Vestibulum turpis ante, volutpat a bibendum sed, consequat ac purus.</p>
            <p><a href="" class="tooltip-right" data-hint="Read More">Read More <i class="fa fa-angle-double-right"></i></a></p>
            <hr class="dotted"/>
          </div>

          <div class="latest-snippet">
            <p class="meta-date"><i class="fa fa-calendar"></i> Saturday, July 26, 2014</p>
            <a href=""><div class="latest-overlay"></div>
              <img src="/images/kyoto.jpeg"></a>
            <a href=""><h4>Freebies</h4></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean convallis leo ac ante tincidunt, nec sagittis neque vehicula. Morbi eu sodales lacus. Aliquam facilisis et dolor id tristique. Morbi aliquam facilisis ligula, vitae suscipit ligula malesuada ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id pharetra odio, at placerat nisl. Curabitur tempus condimentum mattis. Integer eget mi vel magna venenatis ultricies sit amet vel dui. Vestibulum turpis ante, volutpat a bibendum sed, consequat ac purus.</p>
            <p><a href="" class="tooltip-right" data-hint="Read More">Read More <i class="fa fa-angle-double-right"></i></a></p>
            <hr class="dotted"/>
          </div>

          <div class="latest-snippet">
            <p class="meta-date"><i class="fa fa-calendar"></i> Saturday, July 26, 2014</p>
            <a href=""><div class="latest-overlay"></div>
              <img src="/images/bangkok.jpg"></a>
            <a href=""><h4>Simple Design</h4></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean convallis leo ac ante tincidunt, nec sagittis neque vehicula. Morbi eu sodales lacus. Aliquam facilisis et dolor id tristique. Morbi aliquam facilisis ligula, vitae suscipit ligula malesuada ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id pharetra odio, at placerat nisl. Curabitur tempus condimentum mattis. Integer eget mi vel magna venenatis ultricies sit amet vel dui. Vestibulum turpis ante, volutpat a bibendum sed, consequat ac purus.</p>
            <p><a href="" class="tooltip-right" data-hint="Read More">Read More <i class="fa fa-angle-double-right"></i></a></p>
            <hr class="dotted"/>
          </div>

        </div>
      </div>
    </div>
    <!-- Latest Posts End-->

  </div>
</div>
<!-- Column End-->

<!-- Posts Start-->
<div class="galery">

  <!-- Search Form -->
  <div class="container">
    <div class="form-group">
      <h2>Search Spot</h2>
      <!--form -->
      <form id="search" action="/Spot/SearchResult" id="data" method="post">
        <label for="type">Type</label>
        <select name="type">
          <option name="exploration" value="0">Exploration</option>
          <option name="walking_travel" value="1">Walking-Travel</option>
        </select>
        <label for="category">Category</label>
        <select name="category">
          <option name="recreational" value="0">Recreational</option>
          <option name="national" value="1">National</option>
        </select>
        <label for="good_for">Good For</label>
        <select name="good_for">
          <option name="family" value="0">Family</option>
          <option name="one_man" value="1">One-Man</option>
          <option name="couple" value="2">Couple</option>
        </select>
        <input type="submit">
      </form>
      <!-- end form -->
    </div>
  </div>
  <!-- Search Form End -->
  <h4>Search result</h4>
    <div id="result">result</div><!--  search result -->
  <h4>Number of result</h4>
    <div id="count">count</div><!-- number of search result -->

</div>

<!-- main topic -->
<div class="galery">
  <div class="container">
    <div class="author"><span>Author:Varit</span></div>
    <div class="date"><span>Saturday, July 26, 2014</span></div>

    <div class="thumb">
      <a href="">
        <div class="overlay"></div>
        <img src="/images/hieizan.jpeg"/>
      </a>
    </div>

    <div class="snippet">
      <a href="/Spot/ShowSpot?spot=heizan"><h3>Hieizan</h3></a>
      <p>
        Mount Hiei (比叡山 Hiei-zan?) is a mountain to the northeast of Kyoto,
      </p>
      <p><i class="icon-ellipsis"></i></p>
      <hr class="dotted"/>
      <p><a href="" class="tooltip-right" data-hint="Read More">Read More</a></p>
      <div class="tag-line">
        <i class="fa fa-tag"></i>
        <span class="meta"> Tags:</span>
        <span class="tags"><a href="">Japan</a>
          <a href="">Lorem ipsum</a><a href="">Lorem ipsum</a>
        </span>
      </div>
    </div>
    <div class="actions">
      <ul>
        <li><i class="fa fa-comment"></i><a href="" class="tooltip-left" data-hint="Comments"> Comments</a></li>
      </ul>
      <ul class="flip">
        <li class="nav-meta">Share:</li>
        <li><a href="" class="tooltip-top" data-hint="Like"><i class="fa fa-facebook"></i> Like</a></li>
        <li><a href="" class="tooltip-top" data-hint="Tweet"><i class="fa fa-twitter"></i> Tweet</a></li>
      </ul>
    </div>
  </div>
</div>


<div class="galery">
  <div class="container">
    <div class="author"><span>Author: Yamada</span></div>
    <div class="date"><span>Saturday, July 01, 2016</span></div>

    <div class="thumb">
      <a href="/Spot/ShowSpot?spot=omi">
        <div class="overlay"></div>
        <img src="/images/oumi.jpg"/>
      </a>
    </div>

    <div class="snippet">
      <a href="/Spot/ShowSpot?spot=omi"><h3>Omi Shrine</h3></a>
      <p>
        Omi Jingu (近江神宮 Ōmi Jingū?) or Omi Shrine is a Jingū shinto shrine in Ōtsu.
      </p>
      <p><i class="icon-ellipsis"></i></p>
      <hr class="dotted"/>
      <p><a href="" class="tooltip-right" data-hint="Read More">Read More</a></p>
      <div class="tag-line"><i class="fa fa-tag"></i><span class="meta"> Tags:</span><span class="tags"><a href="">Lorem ipsum</a><a href="">Lorem ipsum</a><a href="">Lorem ipsum</a></span></div>
    </div>
    <div class="actions">
      <ul>
        <li><i class="fa fa-comment"></i><a href="" class="tooltip-left" data-hint="Comments"> Comments</a></li>
      </ul>
      <ul class="flip">
        <li class="nav-meta">Share:</li>
        <li><a href="" class="tooltip-top" data-hint="Like"><i class="fa fa-facebook"></i> Like</a></li>
        <li><a href="" class="tooltip-top" data-hint="Tweet"><i class="fa fa-twitter"></i> Tweet</a></li>
      </ul>
    </div>
  </div>
</div>


<div class="galery">
  <div class="container">
    <div class="author"><span>Author</span></div>
    <div class="date"><span>Saturday, July 26, 2014</span></div>

    <div class="thumb">
      <a href="">
        <div class="overlay"></div>
        <img src="/images/hikone.jpg"/>
      </a>
    </div>

    <div class="snippet">
      <a href="/Spot/ShowSpot?spot=hikone"><h3>Hikone Castle</h3></a>
      <p>
        Hikone Castle (彦根城 Hikone-jō?) is a Japanese Edo-period castle in the city of Hikone, in Shiga Prefecture.
      </p>
      <p><i class="icon-ellipsis"></i></p>
      <hr class="dotted"/>
      <p><a href="" class="tooltip-right" data-hint="Read More">Read More</a></p>
      <div class="tag-line"><i class="fa fa-tag"></i><span class="meta"> Tags:</span><span class="tags"><a href="">Lorem ipsum</a><a href="">Lorem ipsum</a><a href="">Lorem ipsum</a></span></div>
    </div>
    <div class="actions">
      <ul>
        <li><i class="fa fa-comment"></i><a href="" class="tooltip-left" data-hint="Comments"> Comments</a></li>
      </ul>
      <ul class="flip">
        <li class="nav-meta">Share:</li>
        <li><a href="" class="tooltip-top" data-hint="Like"><i class="fa fa-facebook"></i> Like</a></li>
        <li><a href="" class="tooltip-top" data-hint="Tweet"><i class="fa fa-twitter"></i> Tweet</a></li>
      </ul>
    </div>
  </div>
</div>


<div class="galery">
  <div class="container">
    <div class="author"><span>Author</span></div>
    <div class="date"><span>Saturday, July 26, 2014</span></div>

    <div class="thumb">
      <a href="">
        <div class="overlay"></div>
        <img src="http://s26.postimg.org/ccf2te9ex/image.jpg"/>
      </a>
    </div>

    <div class="snippet">
      <a href=""><h3>Simple Design</h3></a>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean convallis leo ac ante tincidunt, nec sagittis neque vehicula. Morbi eu sodales lacus. Aliquam facilisis et dolor id tristique. Morbi aliquam facilisis ligula, vitae suscipit ligula malesuada ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id pharetra odio, at placerat nisl. Curabitur tempus condimentum mattis. Integer eget mi vel magna venenatis ultricies sit amet vel dui. Vestibulum turpis ante, volutpat a bibendum sed, consequat ac purus.</p>
      <p><i class="icon-ellipsis"></i></p>
      <hr class="dotted"/>
      <p><a href="" class="tooltip-right" data-hint="Read More">Read More</a></p>
      <div class="tag-line"><i class="fa fa-tag"></i><span class="meta"> Tags:</span><span class="tags"><a href="">Lorem ipsum</a><a href="">Lorem ipsum</a><a href="">Lorem ipsum</a></span></div>
    </div>
    <div class="actions">
      <ul>
        <li><i class="fa fa-comment"></i><a href="" class="tooltip-left" data-hint="Comments"> Comments</a></li>
      </ul>
      <ul class="flip">
        <li class="nav-meta">Share:</li>
        <li><a href="" class="tooltip-top" data-hint="Like"><i class="fa fa-facebook"></i> Like</a></li>
        <li><a href="" class="tooltip-top" data-hint="Tweet"><i class="fa fa-twitter"></i> Tweet</a></li>
      </ul>
    </div>
  </div>
</div>


<!-- Posts End -->

<!-- Bottom Navigation Start -->
<div class="navigation">
  <ul>
    <li class="left"><a href="" class="tooltip-left" data-hint="Next"><i class="fa fa-angle-double-left fa-2x"></i></a></li>
    <li class="right"><a href="" class="tooltip-right" data-hint="Previous"><i class="fa fa-angle-double-right fa-2x"></i></a></li>
  </ul>
</div>
<!-- Bottom Navigation Start -->


<!-- Scroll Top -->
<div class="scroll-top"><a href="#top" class="scroll tooltip-left" data-hint="Scroll to Top"><i class="fa fa-angle-up fa-2x"></i></a></div>

<footer>
</footer>

<script src="/js/search.js"></script>
<!-- Scripts Início -->
<script type="text/javascript">
  //button animate script
  jQuery(document).ready(function($) {
    $(".scroll").click(function(event){
      event.preventDefault();
      $('html,body').animate({scrollTop:$(this.hash).offset().top}, 500);
    });
  });

</script>
<div class='follow-me'>
  <div id="live-chat">
    <header class="clearfix">
      <a href="#" class="chat-close">x</a>
      <h4>Test User</h4> <!-- name of chat box -->
      <span class="chat-message-counter" style="display: none;">3</span>
    </header>
    <div class="chat" style="display: block;">
      <div class="chat-history">
        <div class="chat-message clearfix">
          <!-- <img src="http://lorempixum.com/32/32/people" alt="" width="32" height="32"> -->
          <div class="chat-message-content clearfix">
            <span class="chat-time">13:35</span>
            <h5>John Doe</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, explicabo quasi ratione odio dolorum harum.</p>
          </div> <!-- end chat-message-content -->
        </div> <!-- end chat-message -->
        <hr>
      </div> <!-- end chat-history -->
      <form action="#" method="post">
        <fieldset>
          <input type="text" placeholder="Type your message…">
          <input type="hidden">
        </fieldset>
      </form>
    </div> <!-- end chat -->
  </div> <!--end # Livechat -->

</div><!--end .follow me -->
