<div class="container">
  <h1>テンプレート</h1>
  <div>
    <button class="btn btn-primary btn-sm"id="execute_btn">クリック</button>
  </div>
  <div>
    <table class="table table-striped" id="result_table" style="margin-top: 20px"></table>
  </div>
</div>

<%= json_result %>

<script src="/js/templete.js"></script>
<script>
  console.log(json_result);
</script>




